    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <%= Lit::LocalizationKey.count(:id) %> localization keys
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <% Lit::Locale.availables.ordered.each do |l| %>
                <div>
                    <%= image_tag "lit/famfamfam_flags/#{l.locale[0,2]}.png" %>
                    <%= t("lit.locale_to_languages.#{l.locale}", :default=>l.locale) %>:
                    <span title="<%= "#{l.get_changed_localizations_count}/#{l.get_all_localizations_count}" %>"><%= l.get_translated_percentage %>%</span>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

