<%= render partial: "lit/localization_keys/localization", collection: @localization_keys %>
<% if defined?(Kaminari) %>
    <%= paginate @localization_keys, :theme => "lit" %>
<% end %>
<% content_for(:sidebar) do %>
    <div class="well">
      <%= form_tag '', :class => "form-search", :method => :get do |f| %>
          <div class="input-append">
              <% if @search_options.has_key?(:key_prefix) %>
                  <%= hidden_field_tag :key_prefix, @search_options[:key_prefix] %>
              <% end %>
              <%= text_field_tag :key, @search_options[:key], :class => "span10" %>
              <button type="submit" class="btn btn-default"><%= draw_icon 'search' %></button>
          </div>

          <div>
            <label class="checkbox">
              <%= check_box_tag :include_completed, '1', @search_options[:include_completed].to_i==1 %>
              <%= t('.is_completed', :default => "Include completed") %>
            </label>
          </div>
      <% end %>
      <ul class="nav nav-list">
        <li class="<%= "active" if params[:action]=='index' %>">
          <%= link_to lit.localization_keys_path do -%>
              <%= draw_icon 'list' %>
              all
          <% end %>
        </li>
        <li class="<%= "active" if params[:action]=='starred' %>">
          <%= link_to lit.starred_localization_keys_path do -%>
              <%= draw_icon 'star' %>
              starred
          <% end %>
        </li>
        <li class="nav-header"><%= t(".order_by", :default => "Order by") %>:</li>
        <% Lit::LocalizationKey.order_options.each do |order| %>
            <li class="<%= "active" if order == @search_options[:order] %>">
              <%= link_to url_for(@search_options.merge(:order => order)) do %>
                  <%= t("lit.order_options.#{order.gsub(" ", "_")}", :default => order.humanize) %>
              <% end %>
            </li>
        <% end %>
        <li class="nav-header">Narrow with prefix</li>
        <% if @search_options[:key_prefix].present? %>
            <li>
              <%= link_to url_for(@search_options.merge(:key_prefix => p)), :title => (@parent_prefix.present? ? @parent_prefix : 'show all') do %>
                  <%= draw_icon('chevron-left') %>
                  <%= @parent_prefix.present? ? @parent_prefix.split('.').last : 'show all' %>
              <% end %>
            </li>
        <% end %>
        <% @prefixes.each do |p| %>
            <li class="key_prefix">
              <%= link_to url_for(@search_options.merge(:key_prefix => p)) do %>
                  <%= draw_icon('chevron-right') %>
                  <%= p.split('.').last %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

